<!DOCTYPE html>
<html>

<head>
    <title>Personalized Rankings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='algo.css') }}">

    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap" rel="stylesheet">
    <!-- end font impmort -->

</head>

<body>
    <div class="user-container">
        <h2>Top 10 Recommended Products from All Users</h2>
        <div class="product-list">
            {% for product in top_10_products %}
            <div class="product-item">
                <div id = "imgdiv">
                    <img src="{{ product.image_link }}" alt="{{ product.product_name }}">
                </div>
                <div>
                    <p>{{ product.product_name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        {% for user_id, rankings in rankings_dict.items() %}
        
        <div class="user-container">
            <h2>Recently viewed products of user {{ user_id }}</h2>
            <div class="product-list">
                {% for ranking in rankings %}
                <div class="product-item">
                    <img src="{{ ranking.image_link }}" alt="{{ ranking.product_name }}">
                    <p>{{ ranking.product_name }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>